<%- include("partials/header.ejs")%>
  <title>To Reach You</title>
  
<link rel = "stylesheet" href = "/styles/index.css">
</head>
<body>
  
  <header>
    <div class="logoBase">
      <img alt="to reach you blog logo" src="images/logo/logo.png"/>
      <p>blogs... gists... posts...</p>
    </div>
    
    <div class="line"></div>
  </header>
  <main>
    <section class="intro">
      <div class="brandName">
        <h1>
          <span>to</span>
          <span>reach</span>
          <span>you</span>
       </h1>
        <p>
         ...reaching you with fresh insights, inspiration, and entertainment. From technology to global trends, we bring stories and articles that inspire, inform, and delight. Join in on all the amazing content!
         </p>
         
          <a href="/register" class="aTag">Join us!</a>

      </div>
      
      
      <div class="introImage">
        <img alt="lady on a desk with a computer" src="images/girl.png"/>
        <img src="images/blob.png"/>
      </div>
    </section>
    
    <div class="hLine"></div>
                
    
            <section class="features">
                <h2>We Bring You:</h2>
                <div class="featuresBlock">
                    <article>
                        <h3>Lifestyle</h3>
                        <img
                            alt="lifestyle icon"
                            src="images/features/lifestyle.png"
                        />
                        <p>
                            Explore articles that inspire better living, from
                            home décor tips to personal finance advice. Discover
                            stories on fashion, productivity hacks, and daily
                            routines that help you find balance and joy in
                            everyday life. Whether you're seeking relaxation or
                            motivation, our Lifestyle section has something for
                            everyone.
                        </p>
                    </article>

                    <article>
                        <h3>Science</h3>
                        <img
                            alt="Science icon"
                            src="images/features/science.png"
                        />
                        <p>
                            Stay informed with the latest discoveries,
                            innovations, and explorations in the world of
                            science. From groundbreaking research to fascinating
                            facts about the universe, our Science section
                            delivers content that sparks curiosity and broadens
                            your understanding of the natural world. Dive into a
                            realm where curiosity meets knowledge.
                        </p>
                    </article>

                    <article>
                        <h3>Technology</h3>
                        <img
                            alt="technology icon"
                            src="images/features/technology.png"
                        />
                        <p>
                            Get the latest insights into the ever-evolving world
                            of technology. Our Technology section covers
                            everything from gadgets and apps to industry trends
                            and digital innovations. Whether you're a tech
                            enthusiast or just curious about the future, find
                            articles that keep you informed and up-to-date on
                            all things tech.
                        </p>
                    </article>

                    <article>
                        <h3>Gossip</h3>
                        <img
                            alt="Gossip icon"
                            src="images/features/gossip.png"
                        />
                        <p>
                            Catch up on the juiciest celebrity news, rumors, and
                            trending stories. Our Gossip section brings you
                            closer to the lives of the stars, with updates on
                            Hollywood, music icons, influencers, and more. Stay
                            in the loop with all the buzz from the world of
                            entertainment.
                        </p>
                    </article>

                    <article>
                        <h3>Entertainment</h3>
                        <img
                            alt="entertainment icon"
                            src="images/features/entertainment.png"
                        />
                        <p>
                            Dive into the world of movies, music, TV shows, and
                            more with our Entertainment section. From the latest
                            blockbuster releases to indie gems, artist
                            spotlights, and cultural moments, find articles that
                            celebrate the art of entertainment. There's always
                            something new to discover and enjoy.
                        </p>
                    </article>

                    <article>
                        <h3>Health and Wellness</h3>
                        <img
                            alt="health icon"
                            src="images/features/health.png"
                        />
                        <p>
                            Prioritize your well-being with insights on fitness,
                            nutrition, mental health, and self-care. Our Health
                            & Wellness section offers practical advice,
                            inspiring stories, and expert tips to help you lead
                            a healthier, happier life. Find motivation to
                            cultivate good habits and embrace a balanced
                            lifestyle.
                        </p>
                    </article>

                    <article>
                        <h3>Travel and Adventure</h3>
                        <img
                            alt="Adventure icon"
                            src="images/features/travel.png"
                        />
                        <p>
                            Embark on a journey to explore new destinations,
                            cultures, and adventures. Whether you’re a seasoned
                            traveler or a weekend wanderer, our Travel &
                            Adventure section shares guides, tips, and inspiring
                            stories to fuel your wanderlust. Discover hidden
                            gems and must-see locations around the world.
                        </p>
                    </article>

                    <article>
                        <h3>Inspiration and Self-development</h3>
                        <img
                            alt="Inspiration icon"
                            src="images/features/inspiration.png"
                        />
                        <p>
                            Nurture your mind and spirit with content that
                            motivates and empowers. Our Inspiration &
                            Self-Development section brings you stories of
                            personal growth, success, and resilience. Find
                            guidance on improving skills, building confidence,
                            and living a more fulfilling life, one step at a
                            time.
                        </p>
                    </article>
                </div>
            </section>
    
                <section class="call">
                <img
                    alt="Young Man with a backpack, walking along."
                    src="images/boy.png"
                />
                <div>
                    <p>
                        Join us and let us <span>Reach You</span> with exclusive
                        access to inspiring stories, trending topics, and
                        tailored insights delivered straight to you. Sign up now
                        and stay connected!
                    </p>
                    <a href="/register" class="aTag">Join us!</a>
                </div>
            </section>
            
  </main>
</body>
</html>