<%- include("partials/header.ejs")%>
  <title>To Reach You</title>
  
<link rel = "stylesheet" href = "/styles/index.css">
</head>
<body>
  
  <header>
    <div class="logoBase">
      <img alt="to reach you blog logo" src="images/logo/logo.png"/>
      <p>blogs... gists... posts...</p>
    </div>
    
    <div class="line"></div>
  </header>
  <main>
    <section class="intro">
      <div class="brandName">
        <h1>
          <span>t0</span>
          <span>reach</span>
          <span>you</span>
       </h1>
        <p>
          ...reaching you with fresh insights, inspiration, and entertainment. From technology to global trends, we bring stories and articles that inspire, inform, and delight. Join in on all the amazing content!
        </p>
      </div>
      
      
      <div>
        <img alt="lady on a desk with a computer" src="images/girl.png"/>
      </div>
    </section>
  </main>
  <a href="/register">Join us!</a>
</body>
</html>