<%- include("partials/header.ejs")%>
  <title>To Reach You</title>
  
<link rel = "stylesheet" href = "/styles/index.css">
</head>
<body>
  
  <header>
    <div class="logoBase">
      <img alt="to reach you blog logo" src="images/logo/logo.png"/>
      <p>blogs... gists... posts...</p>
    </div>
    
    <div class="line"></div>
  </header>
  <a href="/register">Join us!</a>
</body>
</html>