<%- include("partials/header.ejs")%>
  <title>To Reach You</title>
  
<link rel = "stylesheet" href = "/styles/index.css">
</head>
<body>
  
  
  <h1>CAN I REACH YOU?</h1>
  <a href="/register">Join us</a>
</body>
</html>