<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/styles/blogpost.css" />

<h3 class="category"><%= category%></h3>
<%- content %>
<div class="space"></div>
<%- include('../partials/footer.ejs') %>
