<%- include("../partials/header.ejs")%>
<link rel="stylesheet" href="/styles/homePage.css">
    <body>
        <div class="parent">
            <div></div>
            <div></div>
            <div></div>
            <div class="main">
                <div class="bgText"></div>
                <div class="ball"></div>
                <div class="header">
                    <a class="profile blend"></a>

                    <img alt="logo" class="blend" src="/images/logo/logo.png" />

                    <a class="notifications blend"></a>
                </div>

                <section class="post">
                    <div class="svg blend"></div>
                    <a class="makepost blend"
                        >Have something to you'd love to share? Share it now!</a
                    >
                </section>

                <section class="content">
                    <h3 class="blend">Top Posts For You!</h3>
                  <!--  <button class="filter blend"></button>
                    <div class="categories">
                        <button class="blend">Lifestyle</button>
                        <button class="blend">Science</button>
                        <button class="blend">Technology</button>
                        <button class="blend">Gossip</button>
                        <button class="blend">Health and Wellness</button>
                        <button class="blend">Entertainment</button>
                        <button class="blend">Travel And Adventure</button>
                        <button class="blend">
                            Inspiration and Self-development
                        </button>
                    </div> -->
                    <div class="articles">
                        <%  const HREF = function(id) {
                  return (pageUrl + "/" + id)
                          }   %>
                        
                         
                          <%- createArticles()%>
                    </div>
                </section>
                 <!-- <section class="content-controls">
                    <button class="blend">1</button>
                    <button class="blend">2</button>
                </section>-->
      
      <%- include("../partials/footer.ejs")%>
  <% function createArticles(){
                          const CONTENT_INDEX = blogIndices[1];
                          const CONTENT_LOOP_RANGE = CONTENT_INDEX.length
                          const CATEGORY_INDEX = blogIndices[0];
                          let articleHTML = ""
                           for (let t = 0; t < CONTENT_LOOP_RANGE; t++) {
                           
                          for (let i = 0; i < CATEGORY_INDEX.length; i++) {
                          if (!DATA[Object.keys(DATA)[CATEGORY_INDEX[i]]][CONTENT_INDEX[t]]) {continue} 
                              articleHTML+= `<article class="blend">
                      
                            <div class="bookmark"></div>
                            <div class="detailsBlock">
                                <img
                                    alt="profileImage"
                                    src="images/images (21).jpeg"
                                />
                                <div class="titleText">
                                    <h4>${DATA[Object.keys(DATA)[CATEGORY_INDEX[i]]][CONTENT_INDEX[t]].title}</h4><p>${Object.keys(DATA)[CATEGORY_INDEX[i]]}</p></div></div></article>`
                            }
                          }
                         
                          return articleHTML
                          } %>
            </div>
            <div></div>
            <div></div>
        </div>
        <script src="/scripts/homePage.js"></script>
    </body>

</html>


