<%- include("../partials/header.ejs")%>
<link rel="stylesheet" href="/styles/homePage.css">
    <body>
        <div class="parent">
            <div></div>
            <div></div>
            <div></div>
            <div class="main">
                <div class="bgText"></div>
                <div class="ball"></div>
                <div class="header">
                    <a class="profile blend"></a>

                    <img alt="logo" class="blend" src="/images/logo/logo.png" />

                    <a class="notifications blend"></a>
                </div>

                <section class="post">
                    <div class="svg blend"></div>
                    <a class="makepost blend"
                        >Have something to you'd love to share? Share it now!</a
                    >
                </section>

                <section class="content">
                    <h3 class="blend">Top Posts For You!</h3>
                    <button class="filter blend"></button>
                    <div class="categories">
                        <button class="blend">Lifestyle</button>
                        <button class="blend">Science</button>
                        <button class="blend">Technology</button>
                        <button class="blend">Gossip</button>
                        <button class="blend">Health and Wellness</button>
                        <button class="blend">Entertainment</button>
                        <button class="blend">Travel And Adventure</button>
                        <button class="blend">
                            Inspiration and Self-development
                        </button>
                    </div>
                    <div class="articles">
                        <article class="blend">
                            <div class="bookmark"></div>
                            <div class="detailsBlock">
                                <img
                                    alt="profileImage"
                                    src="images/images (21).jpeg"
                                />
                                <div class="titleText">
                                    <h4><%=DATA[Object.keys(DATA)[3]][0].title%></h4>
                                    <p><%=Object.keys(DATA)[3]%></p>
                                </div>
                            </div>
                        </article>
                        <article class="blend">
                            <div class="bookmark"></div>
                            <div class="detailsBlock">
                                <img
                                    alt="profileImage"
                                    src="images/images (21).jpeg"
                                />
                                <div class="titleText">
                                    <h4>Blog Post Title</h4>
                                    <p>01234 56789 01234...</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
                
      
      <%- include("../partials/footer.ejs")%>

            </div>
            <div></div>
            <div></div>
        </div>
        <script src="/scripts/homePage.js"></script>
    </body>

</html>


