<%- include("../partials/header.ejs")%>
<title>REGISTER WITH US</title>
<link rel="stylesheet" href="styles/register.css" />

<body>
  <a href="/register/signIn">Sign In</a>
<a href="/register/signUp">Sign Up</a>
</body>
