<%- include("../partials/header.ejs")%>
<title>REGISTER WITH US</title>
<link rel="stylesheet" href="styles/register.css" />

<body>
          <div class="band">
            <a href="/register/signIn">Sign In</a>
            <a href="/register/signUp">Sign Up</a>

            <p>
                <strong>Sign In</strong> if you already have an account or
                <strong>Sign Up</strong> to join
                <span>To Reach You</span>
            </p>
        </div>
<%- include("../partials/footer.ejs")%>
</body>
