


<%- include("../partials/header.ejs")%>
  <title>Sign In</title>
  
  
  <form action="/home" method="post">
    <input placeholder="your name">
    <input placeholder="your email">
    <input type="submit" value="Sign In">
  </form>
  