
<%- include("../partials/header.ejs")%>
<link rel="stylesheet" href="/styles/register.css">
  <title>Sign Up</title>
  <body>
  
          <form action="/register/signUpDone" method="post">
            <fieldset>
                <input placeholder="your name" name="name" id="name" required /><span
                    class="name"
                ></span>
            </fieldset>

            <fieldset>
                <input placeholder="your email" name="email" id="email" required="required" /><span
                    class="email"
                ></span>
            </fieldset>

            <fieldset>
                <input
                    placeholder="your password"
                    name="password"
                    id="password" required
                /><span class="password"></span>
            </fieldset>

            <input placeholder="confirm password" id="passwordCheck" />
            <input type="submit" value="Sign Up" id="submit" />
        </form>

  
  <%- include("../partials/footer.ejs")%>
 
 
 <script src="/scripts/signUp.js"></script>
      
</body>