
<%- include("../partials/header.ejs")%>
<link rel="stylesheet" href="/styles/register.css">
  <title>Sign Up</title>
  <body>
          <form action="/register/signUpDone" method="post">
            <fieldset>
                <input
                    placeholder="your firstname"
                    name="firstname"
                    id="firstname"
                /><span class="firstname"></span>
            </fieldset>
            <fieldset>
                <input
                    placeholder="your lastname"
                    name="lastname"
                    id="lastname"
                /><span class="lastname"></span>
            </fieldset>

            <fieldset>
                <input placeholder="your email" name="email" id="email" /><span
                    class="email"
                ></span>
            </fieldset>

            <fieldset>
                <input
                    placeholder="your password"
                    name="password"
                    id="password"
                /><span class="password"></span>
            </fieldset>

            <fieldset>
            <input placeholder="confirm password" id="passwordCheck" /><span class="passwordCheck"></span>
            </fieldset>
            <input type="submit" value="Sign Up" id="submit" />
        </form>


  
  <%- include("../partials/footer.ejs")%>
 
 
 <script src="/scripts/signUp.js"></script>
      
</body>