
<%- include("../partials/header.ejs")%>
<link rel="stylesheet" href="/styles/register.css">
  <title>Sign Up</title>
  <body>
          <form action="/register/signUpDone" method="post">
            <fieldset>
                <input
                    placeholder="your firstname"
                    name="firstname"
                    id="firstname"
                /><span class="firstname"></span>
            </fieldset>
            <fieldset>
                <input
                    placeholder="your lastname"
                    name="lastname"
                    id="lastname"
                /><span class="lastname"></span>
            </fieldset>

            <fieldset>
                <input placeholder="your email" name="email" id="email" /><span
                    class="email"
                ></span>
            </fieldset>

            <fieldset>
              <div class="passwordBox">
                <input
                    placeholder="your password"
                    name="password"
                    id="password" type="password"
                />
                <a>show</a>
                </div>
                <span class="password"></span>
            </fieldset>

            <fieldset>
              <div class="passwordBox">
                <input placeholder="confirm password" id="passwordCheck" type="password" />
                <a>show</a>
              </div>
            <span class="passwordCheck"></span>
            </fieldset>
            <input type="submit" value="Sign Up" id="submit" />
            
          <p><strong>NB:</strong> Your password must contain at least ONE lowercase letter, ONE uppercase letter, ONE NUMBER, ONE Special character such as #, !, @, √, &, =, or % AND MUST HAVE A MINIMUM LENGTH OF 8 digits</p>  
            
            
            <p>If you already have an account, please <a href="/register/signIn">SIGN IN</a></p>
        </form>


  
  <%- include("../partials/footer.ejs")%>
 
 
 <script src="/scripts/signUp.js"></script>
 <script src="/scripts/passwordVisibility.js"></script>
      
</body>