


<%- include("../partials/header.ejs")%>
  <title>Sign Up</title>
  
  
  <form action="/register/signUpDone" method="post">
    <input placeholder="your name">
    <input placeholder="your email">
    <input placeholder="your password">
    <input placeholder="confirm password">
    <input type="submit" value="Sign Up">
  </form>
  