


<%- include("../partials/header.ejs")%>
  <title>Sign In</title>
  <link rel="stylesheet" href="/styles/register.css">
  
  <body>
      <form action="/home" method="post">
    <input placeholder="your email" id="email" name="email">              <div class="passwordBox">
                  <input
                    placeholder="your password"
                    name="password"
                    id="password" type="password"
                />
                <a>show</a>
       </div>

    <input type="submit" value="Sign In">
    
                <p>If you don't have an account, please <a href="/register/signUp">SIGN UP</a></p>
                
  </form>
  
  
    <%- include("../partials/footer.ejs")%>
    
     <script src="/scripts/passwordVisibility.js"></script>
     
  </body>
  
  
  