:root {
    --color1: #000000;
    --color2: #193778;
    --color3: #ff9e00;
    --color4: #e5e5e5;
    --color5: #ffffff;
    --color6: #38c0b0;
    --color7: #007870;
    --deviceHeight: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
}

.parent {
    width: 100vw;
    min-height: var(--deviceHeight);
    background: var(--color2);
    display: grid;
    grid-template-rows: 10px 1fr 10px;
    grid-template-columns: 8px 1fr 7px;
    gap: 1.5px;
}

.parent > div {
    background-color: var(--color4);
}
.parent div:first-child {
    grid-row: span 2;
}
.parent div:nth-child(5) {
    grid-row: span 2;
}
.parent div:nth-child(6) {
    grid-column: span 2;
}
.main {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

footer {
    margin-top: auto;
    font-size: 0.7rem;
    background: transparent;
    backdrop-filter: blur(1px);
    z-index: 2;
    color: var(--color2);
}

.bgText {
    color: var(--color4);
    overflow: hidden;
    font-size: 0.4rem;
    font-family: Monospace;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.ball {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: var(--color6);
    top: 0;
    left: 0;
    outline: 1px solid var(--color6);
    outline-offset: 2px;
    opacity: 0;
    transition: all 300ms ease-out;
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: 1;
}

.ball-blend {
    z-index: 3;
    mix-blend-mode: difference;
    background: var(--color3);
    outline: 1px solid var(--color3);
    width: 15px;
    height: 15px;
}

.main:hover .ball {
    opacity: 1;
}

.header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    z-index: 2;
}

.header a {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: var(--color2);
    cursor: pointer;
}

.header img {
    height: 70px;
    backdrop-filter: blur(0px);
}

.post {
    margin-top: 1.5rem;
    padding-inline: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    z-index: 2;
    gap: 20px;
}
.post > .svg {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: var(--color3);
}

.post > .makepost {
    width: 80%;
    height: 70px;
    border: 2px solid var(--color2);
    padding: 10px;
    border-radius: 10px;
    font-size: 0.8rem;
    color: #00000077;
    word-spacing: 2px;
    line-height: 1rem;
    letter-spacing: 1.5px;
    backdrop-filter: blur(0px);
    box-shadow: 1px 1px 3px #777;
    cursor: pointer;
}

.content {
    margin-top: 1.5rem;
    z-index: 2;
}

h3 {
    font-family: serif;
    background: conic-gradient(
        var(--color3) 25%,
        var(--color7) 25% 65%,
        var(--color2) 65%
    );
    width: fit-content;
    margin-left: 20px;
    padding: 5px 5px;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-size:;
}

.filter {
    width: 60px;
    height: 20px;
    border-radius: 3px;
    background: var(--color3);
    outline: none;
    border: none;
    display: flex;
    margin: 1rem 30px 1rem auto;
}

.categories {
    width: 100%;
    padding: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 1rem;
    opacity: 0;
    transition: all 500ms cubic-bezier(1, 0.6, 0, 1.05);
}

.categories button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 7px;
    color: var(--color5);
    box-shadow: 0px 1px 3px 2px #555;
    transition: all 300ms ease-out;
}

.categories button:nth-child(n) {
    background: linear-gradient(
        150deg,
        var(--color7) 80%,
        var(--color6) 82% 84%,
        var(--color3) 86% 88%,
        var(--color7) 90%
    );
}
.categories button:hover,
.categories button:focus {
    box-shadow: 0px 0px 3px 2px var(--color3);
    scale: 1.01;
}

.articles {
    margin-top: 1.5rem;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.articles article {
    height: 280px;
    width: 300px;
    padding: 10px 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(#00000000 50%, #00000088 75%),
        url("../images/Zb2D7GoPx26hLBZUkE2R7hqSL3w2pdTbeYWQCiLE52gOiE1JA.jpg");

    background-size: cover;
}

.bookmark {
    height: 40px;
    width: 30px;
    border-radius: 7px;
    background-color: var(--color7);
    display: flex;
    margin-left: auto;
}

.detailsBlock {
    display: flex;
    gap: 10px;
    padding: 5px 0;
    align-items: flex-end;
}

.detailsBlock img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.detailsBlock p {
    font-size: 0.7rem;
    margin-top: 5px;
    color: var(--color5);
}

.detailsBlock h4 {
    font-size: 1.1rem;
    font-family: serif;
    color: var(--color4);
}
