:root {
    --color1: #000000;
    --color2: #193778;
    --color3: #ff9e00;
    --color4: #e5e5e5;
    --color5: #ffffff;
    --color6: #38c0b0;
    --color7: #007870;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color5);
}

h1 {
    color: var(--color2);
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--color5);
    background: var(--color3);
    padding: 7px 15px;
    border-radius: 5px;
    outline: 1.5px solid var(--color2);
    outline-offset: 3px;
    box-shadow: 0 0 3px 0.5px var(--color2);
    letter-spacing: 1.5px;
    font-weight: 700;
    text-shadow: 1px 1px 2px #777;
    visibility: hidden;
}

header {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
}
.logoBase {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.logoBase > img {
    height: 65px;
    margin-left: 3vw;
}
.logoBase > p {
    font-size: 0.8rem;
    font-family: Sans-Serif;
    background: linear-gradient(240deg, var(--color6) 40%, var(--color3) 55%);
    background-clip: text;
    color: transparent;
    font-weight: 700;
    word-spacing: 2px;
    letter-spacing: 1px;
    background-size: 80%;
    padding-bottom: 1rem;
    padding-right: 5vw;
}
.line {
    wwidth: 100vw;
    height: 3px;
    background: linear-gradient(
        to right,
        var(--color2),
        var(--color6),
        var(--color2),
        var(--color6)
    );
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brandName > p {
    font-size: 0.8rem;
    color: var(--color2);
    line-height: 1.4rem;
    word-spacing: 2px;
}

.brandName > h1 {
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding: 10px 5px;
}
.brandName span {
    display: block;
}

.brandName {
    padding-inline: 7vw;
}
