:root {
    --color1: #000000;
    --color2: #193778;
    --color3: #ff9e00;
    --color4: #e5e5e5;
    --color5: #ffffff;
    --color6: #38c0b0;
    --color7: #007870;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url("/images/features/background.png"), #0000001a;
    height: 94vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}
a {
    text-decoration: none;
}

.band {
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
}

.band a {
    color: var(--color1);
    border: 1px solid var(--color3);
    width: 60%;
    padding: 10px 0;
    border-radius: 5px;
    display: grid;
    place-content: center;
    color: var(--color1);
    box-shadow: 1px 1px 3px 0.5px #555;
    transition: all 50ms ease-out;
}

.bamd a:hover,
.band a:focus {
    box-shadow: 2px 3px 5px 1px #555;
}

.band p {
    margin-top: 2rem;
    font-family: serif;
    font-weight: 500;
    color: #555;
    text-align: center;
    padding: 10px;
    line-height: 1.3rem;
    word-spacing: 3px;
}

.band strong {
}
.band span {
    font-weight: 900;
    letter-spacing: 2px;
}

footer {
    margin-top: auto;
    font-size: 0.9rem;
}

form,
fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    gap: 0.5rem;
    margin-top: auto;
}
fieldset {
    gap: 5px;
    border: 0;
}

input {
    width: clamp(200px, 60vw, 600px);
    padding: 0.8rem 15px;
    border: 2px solid var(--color3);
    border-radius: 5px;
    box-shadow: 1px 3px 4px #555;
    -webkit-box-shadow: 1px 3px 4px #555;
    -moz-box-shadow: 1px 3px 4px #555;
    background-color: transparent;
}
form > input:last-of-type {
    margin-top: 0.5rem;
    background-color: var(--color6);
    border: none;
    box-shadow: 2px 3px 5px #555;
    -webkit-box-shadow: 2px 3px 5px #555;
    -moz-box-shadow: 2px 3px 5px #555;
    font-family: serif;
    font-weight: bold;
    color: var(--color5);
    transition: all 300ms ease;
}
input:focus {
    outline: 2px solid var(--color6);
    outline-offset: 2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

form > input:last-of-type:hover,
form > input:last-of-type:focus {
    background: var(--color3);
    outline: none;
}
form input:not(form > input:last-of-type) {
    color: var(--color7);
}

form span {
    font-size: 0.8rem;
    text-align: center;
    font-weight: bold;
}

.error {
    color: red;
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
}
.correct {
    color: green;
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
}

@media only screen and (min-width: 700px) {
    .band {
        height: 400px;
        width: 400px;
        gap: 20px;
    }

    .band a {
        width: 60%;
        padding: 15px 0;
        border-radius: 7px;
        box-shadow: 1.5px 1.5px 3px 1px #555;
        font-size: 1.15rem;
    }

    .band p {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
}
