:root {
  --color1: #000000;
  --color2: #193778;
  --color3: #ff9e00;
  --color4: #e5e5e5;
  --color5: #ffffff;
  --color6: #38c0b0;
  --color7: #007870;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

main {
  width: clamp(300px, 80vw, 1000px);
}

footer {
  background-color: transparent;
}

p {
  font-size: 0.9rem;
  padding-block: 1.5rem;
  font-weight: 600;
  word-spacing: 2px;
  letter-spacing: 1px;
  line-height: 1.2rem;
}
p > a {
  text-decoration: underline;
  text-transform: capitalize;
  color: var(--color7);
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}

.avatarBody {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: 150px 20px 150px 20px 150px;
  grid-template-rows: 20px 150px 30px 150px 30px 150px 20px;
  gap: 5px;
}

.avatarBody img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}

.avatarBody img:hover {
  scale: 1.1;
  outline: 2px solid var(--color7);
  outline-offset: 5px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.avatarBody:hover img:not(:hover) {
  filter: blur(3px);
  -webkit-filter: blur(3px);
  scale: 0.9;
}

.avatarBody a:first-child {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.avatarBody a:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}
.avatarBody a:nth-child(3) {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}
.avatarBody a:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}
.avatarBody a:nth-child(5) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 6;
}
.avatarBody a:nth-child(6) {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
}
.avatarBody a:nth-child(6) {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
}
.avatarBody a:nth-child(7) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 7;
}
.avatarBody a:nth-child(8) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 8;
}
.avatarBody a:last-child {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 7;
}

.avatar {
  margin-bottom: 4rem;
}
.selectImage {
  position: relative;
  height: 250px;
  width: 250px;
}

input[type="file"] {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.cover {
  position: absolute;
  inset: 0;
  background-image: url("/images/igYPAuPRod4aCZOiPJCtWZrC3UaEvu8LOQcwnOHNsMz4Ri6E.jpg");
  background-size: cover;
  z-index: -1;
}

form {
  margin-block: 3rem;
}

h3 {
  font-size: 1.35rem;
  font-weight: 900;
  color: transparent;
  letter-spacing: 4px;
  word-spacing: 3px;
  margin-bottom: 2rem;
  margin-top: 1rem;
  background: linear-gradient(var(--color2), var(--color7));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: transparent;
  -webkit-text-fill-color: var(--color5);
  text-transform: capitalize;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}
h3:hover {
  background: #ff9e0f;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: transparent;
  -webkit-text-fill-color: var(--color5);
}
p > a:hover {
  font-size: 1.2rem;
  color: #ff9e0f;
}

.float {
  --width: clamp(200px, 40vw, 400px);
  width: var(--width);
  height: var(--width);
  background-color: var(--color6);
  filter: blur(50px);
  -webkit-filter: blur(50px);
  opacity: 0.4;
  position: absolute;
  top: 35%;
  right: 1%;
  z-index: -2;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  mix-blend-mode: darken;
  animation: float 2s ease-in-out infinite alternate both;
  -webkit-animation: float 2s ease-in-out infinite alternate both;
}

.float:last-of-type {
  --width: clamp(150px, 30vw, 300px);
  background-color: var(--color3);
  position: absolute;
  top: 150%;
  left: 2%;
  opacity: 0.6;
}

@media only screen and (min-width: 800px) {
  p {
    font-size: 1.1rem;
    padding-block: 1.5rem;
    font-weight: 600;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 1.4rem;
  }

  h3 {
    font-size: 1.35rem;
    font-weight: 900;
    color: transparent;
    letter-spacing: 4px;
    word-spacing: 3px;
    margin-bottom: 2rem;
    margin-top: 1rem;
    background: linear-gradient(var(--color2), var(--color7));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: transparent;
    -webkit-text-fill-color: var(--color5);
    text-transform: capitalize;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
